<%- include('header'); -%>
<div class="page">
    <h1>Compose</h1>
    <form action="/" id="usrform" method="POST">
        Title: <br>
        <input type="text" name="inputTitle" id="inputTitle" required>
      <br>
      Post:
      <br>
      <textarea rows="4" cols="50" name="post" required></textarea>
      <input class="btn" type="submit" style="display: block;">
    </form>

</div>


<%- include('footer'); -%>