<%- include('header'); -%>
<div class = "page" >
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus eligendi hic ullam, mollitia a ea quae. Fugiat explicabo ipsa fugit minus, voluptates magni at laudantium quae, id, debitis eius blanditiis!</p>
</div>


<%- include('footer'); -%>